* {
  margin: 0;
  padding: 0;
}
/*make rows striped*/
.conversionTableContent tr:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.3);
}
.container {
  display: flex;
}

.leftCol{
  margin: 0 10vh;
}

.rightCol{
  display: flex;
  flex-direction: column;
}

.brands{
  margin-bottom: 10vh;
}
/*
.leftCol {
  background-color: #8bb;
}
.brands {
  background-color:#c7b;
}
*/

table{
  background-color: rgba(200, 200, 200, 0.2);
}

thead th {
  font-family: "Roboto", sans-serif;
  font-weight: 540;
  color: white;
  background-color: #dc9814;
  padding: 2vh;
}

@media (min-height: 500px){
  thead th{
    padding: 1vh;
  }
}


#skateSize{
  border-radius: 3px 0 0 0;
}

#shoeSize{
  border-radius: 0 3px 0 0;
}


tbody td, tbody th{
  padding: 1vh 0.5vh;
}

tr {
  text-align: center;
}

tbody th{
  background-color: rgba(52, 73, 94, 0.2);
}

td,
th {
  min-width: 60px;
  position: relative;
  cursor: default;
}

table {
  border-spacing: 1px;
}

.brandContainer {
  display: flex;
  position: relative;
  flex-direction: row;
}

.skateChoice,
.brandChoice {
  background-color: rgba(0, 0, 0, 0.06694560669);
  border: 1px solid #ddd;
  margin: 3px 3px 3px 0;
  padding: 3px 4px;
  line-height: 25px;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;

}
.skateChoice:hover,
.brandChoice:hover {
  background-color: rgba(0, 0, 0, 0.07694560669);
  border-color: #34495e;
}

.clicked {
  border-color: #34495e;
  color: #fff;
  transition-duration:0.1s;
  transition-property: color;
  transition-timing-function: ease-in-out;
}

/*hovering the table*/

table {
  overflow: hidden;
}

tbody td:hover::before, tbody th:hover::before {
  background-color: rgba(80, 80, 150, 0.2);
  content: "";
  height: 100%;
  left: -5000px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -2;
  border: 1px solid rgba(80, 80, 150, 0.4);
}

td:hover::after {
  background-color: rgba(80, 80, 150, 0.2);
  content: "";
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}


.selectSkateStyle {
  z-index: -2;

  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-in-out;

  position: absolute;
  top: 0;

  background-color: #34495e;
  color: #fff;
  border: 1px solid #ddd;
  margin: 3px 3px 3px 0;
  text-align: center;
  overflow: hidden;
}